.iconThemeStyle {
  color: white;
  filter: invert(100%) ;
  width: 28px;
  margin-top: 16px;
  margin-left: 17px;
}

.backgroundCircle {
  background: #222326;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.spaceBetweenIcons {
  margin-left: 17px;
}